/* colors */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-color-light: #f6f6f6;
$background-color-dark: #353535;
$background-address-color: #eaeaea;

$font-dark: #333;
$font-light: #7d7d7d;

/* font */
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

/* media */
$xl-screen: 992px; /* desktop */
$l-screen: 769px; /* small screen */
$m-screen: 650px; /* tablet */
$xs-screen: 250px; 

/* container */
$max-width-container: 1300px;
$mx-container: 25px;
$my-container: 40px;

/* layout */
$gap-homepage: 30px;