/* menu - header */

.header-menu {
    flex-direction: row;
    i {
        margin-left: 10px;
    }
}

/* menu - main */

.main-img {
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 0;
    @media (min-width: $desktop) {
        height: 400px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        }
}

.restaurant {
    padding: 40px 10%;
    border-radius: 25px 25px 0 0;
    margin-top: -20px;
    background-color: $background-color-light;
    position: relative;
    z-index: 1;
    @media (min-width: $desktop) {
        padding: 40px;
    }
    .restaurant-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width: $desktop) {
            justify-content: center;
        }
        h1 {
            font-family: $font-title;
            font-size: 1.6rem;
        }
        button, i {
            background-color: $background-color-light;
        }
    }
    h2 {
        font-size: .9rem;
        font-weight: 300;
        margin-top: 30px;
        text-transform: uppercase;
    }
    .green-underlined {
        background-color: $tertiary-color;
        width: 35px;
        height: 2px;
    }
    .btn-cta {
        margin-top: 50px;
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.menu {
    @media (min-width: $desktop) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
    }
    .sub-menu {
        @media (min-width: $desktop) {
            max-width: 700px;
            min-width: 250px;
            width: 100%;
            margin: 0 15px;
        }
    }
}

.menu-all-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .menu-card {
        width: 100%;
    }
}

.menu-card > a {
    @include box(15px, white);
    height: 70px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    p {
        font-size: .9rem;
        font-weight: 200;
        margin: 0;
    }
    .menu-card-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        width: 90%;
        overflow: hidden;
        h3, p {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
    .menu-card-price {
        margin: 10px;
        align-self: flex-end;
        z-index: 1;
    }
    .menu-card-picked {
        background-color: $tertiary-color;
        border-radius: 0 10px 10px 0;
        width: 0px;
        display: flex;
        justify-content: center;
        transition-property: width;
        transition-duration: 200ms;
        transition-timing-function: linear;
        i {
            color: white;
            font-size: 1.5rem;
            align-self: center;
        }
    }
    &:hover {
        .menu-card-picked {
            width: 80px;
        }
        i {
            animation-name: rotate;
            animation-duration: 800ms;
        }    
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.card1 {
    animation: 800ms ease-in-out 200ms both fade-in;
}
.card2 {
    animation: 800ms ease-in-out 400ms both fade-in;
}
.card3 {
    animation: 800ms ease-in-out 600ms both fade-in;
}
.card4 {
    animation: 800ms ease-in-out 800ms both fade-in;
}
.card5 {
    animation: 800ms ease-in-out 1000ms both fade-in;
}
.card6 {
    animation: 800ms ease-in-out 1200ms both fade-in;
}
.card7 {
    animation: 800ms ease-in-out 1400ms both fade-in;
}
.card8 {
    animation: 800ms ease-in-out 1600ms both fade-in;
}
.card9 {
    animation: 800ms ease-in-out 1800ms both fade-in;
}
.card10 {
    animation: 800ms ease-in-out 2000ms both fade-in;
}
