/* reset */

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  min-width: 200px;
}

body, button, form, p {
  font-family: $font-text;
  margin: 0;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: $font-text;
}

h2, h3, h4, h5, h6 {
  margin: 5px 0;
}
  
a {
  color: $font-dark;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* general */

.max-width {
  max-width: $max-width-container;
  margin: auto;
}

.self-start {
  justify-self: start;
}

.self-end {
  justify-self: end;
}