/* footer */

.max-width {
  width: 100%;
  max-width: $max-width-container;
  margin: auto;
}

.footer-container {
    background-color: $background-color-dark;
    color:white;
    padding: 5px 20px 20px 20px;
    line-height: 1.4rem;
    h2 {
      padding: 10px 0 15px 0;
      font-family: $font-title;
      font-size: 1.1rem;
      font-weight: 400;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
    }
    a {
        color:white;
        &:hover {
          text-decoration: underline;
        }
    }
    i {
        width: 20px;
        padding-right: 2px;
    }
  }